{% extends 'base.html' %}
{% block content %}

{% comment %} Modal for Signup Form {% endcomment %}
<div class="container text-center">
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Sign Up</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                
<form method="post" class="text-center" action="/accounts/login/">
                    <h1>Log In</h1>
                    <input type="hidden" name="csrfmiddlewaretoken" value="rvZYmjvnwu8xM9kJTLIunkCxkP3szcKAOFV6od8bk5X90GlvT1iovlZw7Jkmf1oy">
                    <p><label for="id_username">Username:</label> <input type="text" name="username" autofocus="" autocapitalize="none" autocomplete="username" maxlength="150" required="" id="id_username"></p>
<p><label for="id_password">Password:</label> <input type="password" name="password" autocomplete="current-password" required="" id="id_password"></p>
                    
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary">Log In</button>
                    </div>
                </form>

                <form method="POST" action="{% url 'signup' %}">
                    {% csrf_token %}
                    {{ signup_form.as_p }}
                    
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary">Sign Up</button>
                    </div>
                </form>
            </div>

        </div>
    </div>
</div>
{% comment %} Modal for Login Form {% endcomment %}
<div class="container text-center">
    <div class="modal fade" id="exampleModal1" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Login</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">

                <form method="post" class="text-center" action="{% url 'login' %}">
                    <h1>Log In</h1>
                    {% csrf_token %}
                    {{ login_form.as_p }}
                    {% comment %} <input type="submit" class="btn btn-success" value="login">
                    <input type="hidden" name="next" value="{{ next }}"> {% endcomment %}
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary">Log In</button>
                    </div>
                </form>

            </div>

        </div>
    </div>
</div>
{% comment %} {% include 'login.html' %} {% endcomment %}








    <div class="homepage">
        <h1> You've reached the Wayfarer Home page</h1>
        
        <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-inner">
                {% comment %} {% for city in cities %} {% endcomment %}
                    <div class="carousel-item active">
                        <img src="https://d13k13wj6adfdf.cloudfront.net/urban_areas/albuquerque_web-3079b54e59.jpg" class="d-block w-100 img-fluid " alt="first">
                    </div>
                {% comment %} {% endfor %} {% endcomment %}
                <div class="carousel-item">
                    <img src="https://d13k13wj6adfdf.cloudfront.net/urban_areas/birmingham_web-76fdd27a1c.jpg" class="d-block w-100 img-fluid" alt="second">
                </div>
                <div class="carousel-item">
                    <img src="https://d13k13wj6adfdf.cloudfront.net/urban_areas/dubai_web-e211678fd9.jpg" class="d-block w-100 img-fluid" alt="third">
                </div> 
                <div class="carousel-item">
                    <img src="https://d13k13wj6adfdf.cloudfront.net/urban_areas/new-york_web-99d9bb0809.jpg" class="d-block w-100 img-fluid" alt="third">
                </div> 
                <div class="carousel-item">
                    <img src="https://d13k13wj6adfdf.cloudfront.net/urban_areas/tokyo_web-7a20b5733f.jpg" class="d-block w-100 img-fluid" alt="third">
                </div> 
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls"  data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls"  data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>

        {% comment %} <div class="slideshow-container">
            <div class="mySlides animated">
                <img src="https://www.html-code-generator.com/images/slide1.jpg">
                <div class="slide-text">image 1</div>
            </div>

            <div class="mySlides animated">
                <img src="https://www.html-code-generator.com/images/slide2.jpg">
                <div class="slide-text">image 2</div>
            </div>

            <div class="mySlides animated">
                <img src="https://www.html-code-generator.com/images/slide3.jpg">
                <div class="slide-text">image 3</div>
            </div>

            <div class="mySlides animated">
                <img src="https://www.html-code-generator.com/images/slide4.jpg">
                <div class="slide-text">image 4</div>
            </div>

            <div class="mySlides animated">
                <img src="https://www.html-code-generator.com/images/slide5.jpg">
                <div class="slide-text">image 5</div>
	    </div>

	<a class="slide-prev" onclick="plusSlides(-1)">❮</a>
	<a class="slide-next" onclick="plusSlides(1)">❯</a>
</div>

<div class="slide-dot-control">
	<span class="slide-dot" onclick="currentSlide(1)"></span>
	<span class="slide-dot" onclick="currentSlide(2)"></span>
	<span class="slide-dot" onclick="currentSlide(3)"></span>
	<span class="slide-dot" onclick="currentSlide(4)"></span>
	<span class="slide-dot" onclick="currentSlide(5)"></span>
</div> {% endcomment %}
        <div class="row">
            <div class="col-sm-4">
                <h5> Who we are</h5>
                <p> we are who we are</p>
            </div>
            <div class="col-sm-4">
                <h5> What We do </h5>
                <p>Wayfarer is created to provide a easily accessible review tool for people all over the world </p>
            </div>
            <div class="col-sm-4">
                <h5> Wayfarer is created to provide a easily accessible review tool for people all over the world</h5>
            </div>
        </div>

            {% comment %} <div class="homepage-images">
                <img src="https://images.unsplash.com/photo-1558301211-0d8c8ddee6ec?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxleHBsb3JlLWZlZWR8MXx8fGVufDB8fHw%3D&w=1000&q=80">
            </div> {% endcomment %}

    </div>
</div>

{% endblock %}