{% extends 'base.html' %}
{% block content %}

<div class="container">
    <div class="homepage">
        <h1> You've reached the Wayfarer Home page</h1>

        <div class="slideshow-container">
            <div class="mySlides animated">
                <img src="https://www.html-code-generator.com/images/slide1.jpg">
                <div class="slide-text">image 1</div>
            </div>

            <div class="mySlides animated">
                <img src="https://www.html-code-generator.com/images/slide2.jpg">
                <div class="slide-text">image 2</div>
            </div>

            <div class="mySlides animated">
                <img src="https://www.html-code-generator.com/images/slide3.jpg">
                <div class="slide-text">image 3</div>
            </div>

            <div class="mySlides animated">
                <img src="https://www.html-code-generator.com/images/slide4.jpg">
                <div class="slide-text">image 4</div>
            </div>

            <div class="mySlides animated">
                <img src="https://www.html-code-generator.com/images/slide5.jpg">
                <div class="slide-text">image 5</div>
	    </div>

	<a class="slide-prev" onclick="plusSlides(-1)">❮</a>
	<a class="slide-next" onclick="plusSlides(1)">❯</a>
</div>

<div class="slide-dot-control">
	<span class="slide-dot" onclick="currentSlide(1)"></span>
	<span class="slide-dot" onclick="currentSlide(2)"></span>
	<span class="slide-dot" onclick="currentSlide(3)"></span>
	<span class="slide-dot" onclick="currentSlide(4)"></span>
	<span class="slide-dot" onclick="currentSlide(5)"></span>
</div>

        <p> Wayfarer is created to provide a easily accessible review tool for people all over the world</p>

            <div class="homepage-images">
                <img src="https://images.unsplash.com/photo-1558301211-0d8c8ddee6ec?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxleHBsb3JlLWZlZWR8MXx8fGVufDB8fHw%3D&w=1000&q=80">
            </div>

    </div>
</div>

{% endblock %}