{% extends 'base.html' %}
{% block content %}

<div class="container">
    <div class="homepage">
        <h1> You've reached the Wayfarer Home page</h1>
        <p> Wayfarer is created to provide a easily accessible review tool for people all over the world</p>

            <div class="homepage-images">
                <img src="https://images.unsplash.com/photo-1558301211-0d8c8ddee6ec?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxleHBsb3JlLWZlZWR8MXx8fGVufDB8fHw%3D&w=1000&q=80">
            </div>

    </div>
</div>

{% endblock %}