*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


.nav{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 35px;
    background-color: rgb(96, 173, 245);
}
.nav-left{
    width: 20%; 
    height: 100%;
    overflow: hidden;
}
.brand-logo{
    width: 100%;
    height: 100%;

}
.brand-logo img{

    object-fit: cover;
}
.nav-right{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center; 
    width: 80%;
    height: 100%;
} 
.nav-links li{
    color:white;
    display: inline-block;
    padding-right: 5px;
}
.container{
    margin: 1rem auto;
    width: 90%;
}
.homepage{
    text-align: center;
}
.homepage-images{
    overflow: hidden;
}
.homepage-images img {
    height: 160px;
    object-fit: cover;
}