*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Source Serif Pro', serif;
}
.container{
    margin-top: 20px;
}
.navbar{
    background-color: rgb(144, 94, 226);
}
.nav-search{
    margin-left:10px;
    display:flex;
}
.navbar-brand, .nav-link{
    color: antiquewhite!important;
}
a:hover {
    color: black;
}
/* .my-post{
    text-align: center;
} */

@media only screen and (max-width: 575px) {
    .home-link {
        position: absolute;
	    left: -1000px;
    }
}

.home-link {
    display: inline-block;
}

.grid-container {
    display: grid;
    grid-template-columns:  1fr 1fr 1fr;
    grid-template-rows: 1.6fr 0.1fr 1.3fr 1fr;
    gap: 0px 0px;
    grid-template-areas:
        " city city city"
        " city city city"
        " city city city"
        " . . .";
}
/* .my-cities { grid-area: my-cities; } */
.city {
    display: grid;
    grid-template-columns: 1fr 1.7fr 0.3fr;
    grid-template-rows: 0.6fr 1.5fr 0.2fr 1.7fr;
    gap: 0px 0px;
    grid-template-areas:
        "city-name city-pic city-pic"
        ". city-pic city-pic"
        "city-review-title city-review-title add-review-btn"
        "city-review-list city-review-list city-review-list";
    grid-area: city;
}
.city-pic { grid-area: city-pic; }
.city-name { grid-area: city-name; }
.city-review-title { grid-area: city-review-title; }
.add-review-btn { grid-area: add-review-btn; }
.city-review-list { grid-area: city-review-list; }


.review_image {
    max-height: 500px;
    /* height: 100px; */
}

.card{
    box-shadow: 0 1px 3px 0 rgba(0,0,0,.1), 0 1px 2px 0 rgba(0,0,0,.06);
}

.profile-card{
    background: antiquewhite;
    border: 2px solid rgb(196, 220, 243);
}
.card {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 0 solid rgba(0,0,0,.125);
    border-radius: .25rem;
}

.card-body {
    flex: 1 1 auto;
    min-height: 1px;
    padding: 1rem;
}

.gutters-sm {
    margin-right: -8px;
    margin-left: -8px;
}

.gutters-sm>.col, .gutters-sm>[class*=col-] {
    padding-right: 8px;
    padding-left: 8px;
}
.mb-3, .my-3 {
    margin-bottom: 1rem!important;
}

.bg-gray-300 {
    background-color: #e2e8f0;
}
.h-100 {
    height: 100%!important;
}
.shadow-none {
    box-shadow: none!important;
}

.accordion-item{
    border: 1px solid rgb(172, 172, 235);
}


.profile-grid-container {
    display: grid;
    grid-template-columns: 1fr 1.4fr 1fr 1.4fr 1fr 1.4fr 1fr 0.6fr;
    grid-template-rows: 0.3fr 0.7fr 1fr 1fr 1fr 1.4fr 0.5fr;
    gap: 20px 0px;
    grid-template-areas:
        ". . . . . . . ."
        ". profile-pic profile-pic profile-name profile-name . . ."
        ". profile-pic profile-pic profile-info profile-info . . ."
        ". profile-reviews profile-reviews profile-reviews profile-reviews profile-reviews profile-reviews ."
        ". profile-reviews profile-reviews profile-reviews profile-reviews profile-reviews profile-reviews ."
        ". profile-reviews profile-reviews profile-reviews profile-reviews profile-reviews profile-reviews ."
        ". . . . . . . .";
}
.profile-pic { grid-area: profile-pic; }
.profile-name { grid-area: profile-name; }
.profile-info { grid-area: profile-info; }
.profile-reviews { grid-area: profile-reviews; }
.profile_picture{
    height: 200px;
}

