*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
/* .content{
    margin: 20px auto;
} */
.navbar{
    background-color: rgb(144, 94, 226);
}

.navbar-brand, .nav-link{
    color: antiquewhite!important;
}
a:hover {
    color: black;
}
/* .my-post{
    text-align: center;
} */

.grid-container {
    display: grid;
    grid-template-columns:  1fr 1fr 1fr;
    grid-template-rows: 1.6fr 0.1fr 1.3fr 1fr;
    gap: 0px 0px;
    grid-template-areas:
        " city city city"
        " city city city"
        " city city city"
        " . . .";
}
/* .my-cities { grid-area: my-cities; } */
.city {
    display: grid;
    grid-template-columns: 1fr 1.7fr 0.3fr;
    grid-template-rows: 0.6fr 1.5fr 0.2fr 1.7fr;
    gap: 0px 0px;
    grid-template-areas:
        "city-name city-pic city-pic"
        ". city-pic city-pic"
        "city-review-title city-review-title add-review-btn"
        "city-review-list city-review-list city-review-list";
    grid-area: city;
}
.city-pic { grid-area: city-pic; }
.city-name { grid-area: city-name; }
.city-review-title { grid-area: city-review-title; }
.add-review-btn { grid-area: add-review-btn; }
.city-review-list { grid-area: city-review-list; }






.profile-grid-container {
    display: grid;
    grid-template-columns: 1fr 1.4fr 1fr 1.4fr 1fr 1.4fr 1fr 0.6fr;
    grid-template-rows: 0.3fr 0.7fr 1fr 1fr 1fr 1.4fr 0.5fr;
    gap: 20px 0px;
    grid-template-areas:
        ". . . . . . . ."
        ". profile-pic profile-pic profile-name profile-name . . ."
        ". profile-pic profile-pic profile-info profile-info . . ."
        ". profile-reviews profile-reviews profile-reviews profile-reviews profile-reviews profile-reviews ."
        ". profile-reviews profile-reviews profile-reviews profile-reviews profile-reviews profile-reviews ."
        ". profile-reviews profile-reviews profile-reviews profile-reviews profile-reviews profile-reviews ."
        ". . . . . . . .";
}
.profile-pic { grid-area: profile-pic; }
.profile-name { grid-area: profile-name; }
.profile-info { grid-area: profile-info; }
.profile-reviews { grid-area: profile-reviews; }
.profile_picture{
    height: 200px;
}


/* 
.nav{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 35px;
    background-color: rgb(96, 173, 245);
}
.nav-left{
    width: 20%; 
    height: 100%;
    overflow: hidden;
}
.brand-logo{
    width: 100%;
    height: 100%;

}
.brand-logo img{

    object-fit: cover;
}
.nav-right{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center; 
    width: 80%;
    height: 100%;
} 
.nav-links li{
    color:white;
    display: inline-block;
    padding-right: 5px;
}
.container{
    margin: 1rem auto;
    width: 90%;
}
.homepage{
    text-align: center;
}
.homepage-images{
    overflow: hidden;
}
.homepage-images img {
    height: 160px;
    object-fit: cover;
}

/* SLIDSHOW */
.mySlides {
	display: none;
	height: 100%;
	font-family: Arial,Helvetica,sans-serif;
}
.mySlides img {
	width: 100%;
	height: 100%;
}
.slideshow-container {
	overflow: hidden;
	position: relative;
	margin: auto;
	width: 500px;
	height: 200px;
}
.slide-prev, .slide-next {
	cursor: pointer;
	position: absolute;
	top: 50%;
	width: auto;
	padding: 16px;
	margin-top: -22px;
	color: white;
	font-weight: bold;
	font-size: 18px;
	transition: 0.6s ease;
	border-radius: 0 3px 3px 0;
}
.slide-next {
	right: 0;
	border-radius: 3px 0 0 3px;
}
.slide-prev:hover, .slide-next:hover {
	background-color: rgba(0,0,0,0.8);
}
.slide-text {
	color: #f2f2f2;
	font-size: 15px;
	padding: 8px 12px;
	position: absolute;
	bottom: 8px;
	width: 100%;
	text-align: center;
	text-shadow: 0px 0px 2px #000;
}
.slide-dot-control {
	text-align: center;
	margin-top: 10px;
}
.slide-dot {
	cursor:pointer;
	height: 13px;
	width: 13px;
	margin: 0 2px;
	background-color: #bbb;
	border-radius: 50%;
	display: inline-block;
	transition: background-color 0.6s ease;
}
.slide-dot-active, .slide-dot:hover {
	background-color: #717171;
}

/************CSS Animation***********/

.animated { 
    -webkit-animation-name: fadeInLeft; 
            animation-name: fadeInLeft; 
    -webkit-animation-duration: 1s; 
            animation-duration: 1s; 
} 
@-webkit-keyframes fadeInLeft { 
    0% { 
        opacity: 0; 
        -webkit-transform: translateX(-20px); 
    } 
    100% { 
        opacity: 1; 
        -webkit-transform: translateX(0); 
    } 
} 
@keyframes fadeInLeft { 
    0% { 
        opacity: 0; 
        transform: translateX(-20px); 
    } 
    100% { 
        opacity: 1; 
        transform: translateX(0); 
    } 
} 
.fadeInLeft { 
    -webkit-animation-name: fadeInLeft; 
    animation-name: fadeInLeft; 
} 

.review_image {
    height: 300px;
}