{% extends 'base.html' %}
{% block content %}

<h1>City List</h1>

<h1>Welcome {{ profile.name }}</h1>
<h4>Username: {{ profile.user.username }}</h4>
<p> Current City {{ profile.current_city }}</p>
    <p>Date Joined: 
    {% if profile.set_date %}</p>
    {% endif %}
<a href="{% url 'edit_profile' %}">Edit Profile</a>
<br />

<div class="my-post">
    {% for review in reviews %}
        <div class="card" style="width: 18rem;">
            <img src="https://images.cdn2.stockunlimited.net/preview1300/night-view-of-city-with-shooting-stars_1522096.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">{{ review.title }}</h5>
                {% comment %} <p class="card-text"></p> {% endcomment %}
                <a href="{% url 'show_review' review.id %}" class="btn btn-primary">See My Review</a>
            </div>
        </div>

        {% comment %} <p>{{ review.description }} </p> {% endcomment %}
    {% endfor %}
</div>

{% comment %} {% for city in cities %}
    <div class="city-list">
    <h5> City Info </h5>
    <hr>
    <p>{{ profile }}</p>
        <p>Name: {{ city.name }}</p>
        <p>Country: {{ city.country }}</p>
    </div>
{% endfor %} {% endcomment %}

{% endblock  %}