{% extends 'base.html' %}
{% block content %}

<h1>My Profile Page</h1>

<h1>Welcome {{ profile.user.username }}</h1>
{% comment %} <h4>Username: {{ profile.user.username }}</h4> {% endcomment %}
<p> Current City: {{ profile.current_city }}</p>
    <p>Date Joined: {{profile.user.date_joined}}</p>
    {% comment %} <p>{{user.username}} This is the user.username </p>
    <p>{{profile.user}} This is the profile.username</p> {% endcomment %}
    {% if user.username == profile_user %}
        <a href="{% url 'edit_profile' %}">Edit Profile</a>
    {% endif %}

<br />


<div class="row text-center">
     {% for review in reviews %}
    <div class="col-sm-6">
        
           
                <div class="card" style="width: 18rem;">
                    <img src="{{review.city.city_pic}}" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">{{ review.title }}</h5>
                        {% comment %} <p class="card-text"></p> {% endcomment %}
                        <a href="{% url 'show_review' review.id %}" class="btn btn-outline-primary">See My Review</a>
                    </div>
                </div>

                {% comment %} <p>{{ review.description }} </p> {% endcomment %}
            {% endfor %}
        
    </div>
</div>

{% comment %} {% for city in cities %}
    <div class="city-list">
    <h5> City Info </h5>
    <hr>
    <p>{{ profile }}</p>
        <p>Name: {{ city.name }}</p>
        <p>Country: {{ city.country }}</p>
    </div>
{% endfor %} {% endcomment %}

{% endblock  %}