{% extends 'base.html' %}
{% block content %}

{% comment %} <div class="card">
    <div class="card-body">
        <h1>{{review.title}}</h1>
    </div>
</div>
<div class="content">
    {{ review.description }}
    <img src="">
</div> {% endcomment %}
{% comment %} 
<div class="text-center content">
    <div class="city-image">
        
        <img src="{{ review.city.city_pic }}" class="rounded" alt="{{review.title}}">
    </div>
    <div >
        <h5 >{{review.title}}</h5>
        <p>Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    </div>
</div> {% endcomment %}
{% comment %} <img src="https://s.clipartkey.com/mpngs/s/116-1162692_free-to-use-public-domain-people-clip-art.png"> {% endcomment %}


HTML FOR CITY DETAIL VIEW
<div class="grid-container">
    <div class="my-cities">
        <div class="my-cities-title">
            <h4>My list of Cities</h4>
        </div>
        <div class="my-cities-list">
            <ul>
                <li>list city #1</li>
                <li>list city #2</li>
            </ul>
        </div>
    </div>
    <div class="city">
        <div class="city-name">
            <h3>{{review.city.name}}</h3>
            <h5> country name goes here </h5>
        </div>
        <div class="city-pic">
            <img src="{{ review.city.city_pic }}" class="rounded" alt="{{review.city.name}}">
        </div>
    </div>
    <div class="review">
        <div class="review-title">
            <h5> Reviews for {{review.city.name}}
        </div>
        <div class="review-btn">
            <input type="submit" class="btn btn-success" value="Add Review">
        </div>
        <div class="review-list">
            <h5 >{{review.title}}</h5>
            <p>Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        </div>
    </div>
</div>




{% endblock %}