
{% extends 'base.html' %}
{% load static %}
{% block content %}

{% comment %} <img width="600" src="" onerror="this.src='{% static '/images/default_city.jpg' %}';">
<h1>{{ city.name }}</h1>
<h4>{{ city.country }}</h2> {% endcomment %}
<div class="container">
<div class="row">
    <div class="col col-md-3">
        <div class="my-cities text-center">
                <div class="accordion" id="accordionExample">
                    <div class="accordion-item shadow">
                        <h2 class="accordion-header my-cities-title" id="headingOne">
                        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                            My Cities
                        </button>
                        </h2>
                        <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                        <div class="accordion-body my-cities-list">
                            {% if my_reviews     %}
                                {% for review in my_reviews %}
                                    <div class="card text-dark bg-light mb-3" >
                                        <div class="card-body">
                                                <h5 class="card-title">{{ review.city }}</h5>
                                                <p class="card-text">{{review.title}}</p>
                                                <a href="{% url 'show_review' review.id %}" class="btn btn-sm btn-outline-info">See My Review</a>
                                        </div>
                                    </div>
                                {% endfor %}
                            {% else %}
                                <h5 class="card-title">You don't have any reviews (︶︹︺)</h5>
                            {% endif %}
                        </div>
                        </div>
                    </div>
                </div>
            </div>
    </div>
    <div class="col-12 col-md-9">
        <div class="grid-container">
            
            <div class="city">
                <div class="city-pic">
                    {% if city.city_pic %}
                        <img class="img-fluid rounded float-end h-75" src="{{ city.city_pic }}" class="rounded" alt="{{city.name}}">
                        <span class="overlay-text text-end">Credits to: {{city.photographer}}</span>
                    {% else %}
                        <img width="600" src="" onerror="this.src='{% static '/images/default_city.jpg' %}';">
                    {% endif %}
                </div>
                <div class="city-name text-center">
                        
                    <h4>{{city.name}}</h4>
                    <h5> {{city.country}}</h5>
                
                </div>
                <div class="city-review-title">
                    <h5> Reviews for {{city.name}}</h5>
                </div>
                <div class="add-review-btn align-items-end">
                    <!-- Button trigger modal for ADD review -->
                        <button type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#exampleModal" data-bs-whatever="@mdo">Add Review</button>
            
                        <!-- Modal for ADD form and post-->
                        <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="exampleModalLabel">Add New Review</h5>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body">
                                    <form method="POST" action="{% url 'add_review' city.id%}">
                                        {% csrf_token %}
                                            {% comment %} {{ form.as_p }} {% endcomment %}
                                        <div class="mb-3">
                                            <label class="col-form-label" for="id_title">Title:</label>
                                            <input class="form-control" type="text" name="title" maxlength="200" required id="id_title">
                                        </div>
                                        <div class="mb-3">
                                            <label class="col-form-label" for="exampleFormControlTextarea1">Description:</label>
                                            <textarea class="form-control" type="text" name="description" maxlength="1000" required id="exampleFormControlTextarea1" rows="3"></textarea>
                                        </div>
                                    </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                            <button type="submit" class="btn btn-primary">Add Review</button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                </div>
                <div class="city-review-list">
                    {% for cityreview in city_reviews %}
                    <div class="card mb-3 hadow-sm rounded">
                        <div class="row g-0">
                            <div class="col-md-4">
                                <img class="img-thumbnail" src="{{profile.profile_pic}}" onerror="this.src='{% static '/images/default_city.jpg' %}';">
                            </div>
                            <div class="col-md-8">
                                <div class="card-body">
                                    <a href="{% url 'show_review' cityreview.id %}" ><h5 class="card-title">{{cityreview.title}}</h5></a>
                                    <p class="card-text">{{cityreview.description}}</p>
                                    <p class="card-text"><small class="text-muted">Created: {{cityreview.created_at}}</small></p>
                                </div>

                                <!-- Button trigger modal for DELETE review -->
                                <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#exampleModal2">
                                Delete Review
                                </button>

                                <!-- Modal for DELETE alert message and post-->
                                <div class="modal fade" id="exampleModal2" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                    <div class="modal-dialog">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title" id="exampleModalLabel">Delete Review</h5>
                                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                            </div>
                                            <div class="modal-body">
                                            <form method="POST" action="{% url 'delete_review' cityreview.id %}">
                                                {% csrf_token %}
                                                <p> Are you sure you want to delete review for {{city.name}}?<p>
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                                
                                            
                                                <button type="submit" class="btn btn-danger">Yes, DELETE</button>
                                            </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
            
        </div>
    </div>

</div>
</div>



{% endblock %}